.loadingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 100%;
    height: 100%;
    padding: 8px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.donationItem {
    padding-left: 2ch;
}

.divider {
    border: solid 1px gray;
    margin: 15px 2%;
}

.header {
    margin-bottom: 15px;
}

.noItemsToShow {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}