:root {
  font-size: 24px;
  color: #111111;
  --color-light-one: #f0f0f0;
  --color-off-white: #faf9f0;
  --color-dark-blue-one: #313d5c;
  --color-dark-blue-hover: rgb(36, 68, 128);
  --color-blueyish-white: #e4e7f1;
  --hover-gray: rgb(218, 218, 218);
  
  --header-height: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-light-one);
}