.container {
    min-height: calc(100vh - var(--header-height));
    display: grid;
    padding-bottom: 10vh;
    grid-template-columns: 70% auto;
    grid-template-rows: min-content auto;
}

.banner {
    padding: 0px 10% 0px 10%;
}

.editContainer, .viewContainer {
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 4px 4px 8px gray;
    margin: 0px 10% 0px 10%;
    padding: 5% 10%;
}

.banner {
    height: 25vh;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.creatorImage {
    position: relative;
    top: 12.5vh;
}

.editContainer {
    display: grid;
    grid-template-columns: 8ch auto;
    row-gap: 1rem;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.editButtons {
    border: solid 1px lightblue;
    box-shadow: 2px 2px 2px black;
    padding: 6px;
    margin: 6px;
}

.editButtonsContainer {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.inputTitle, .inputText {
    resize: vertical;
    background-color: transparent;
    border: 1px solid gray;
    font-family: inherit;
    font-size: inherit;
}

.inputTitle {
    word-break: break-word;
}

.leftBorder {
    border-left: 1px solid slategray;
    padding: 10px
}

.loadingContainer {
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
}