.container {
    border-radius: 8px;
    border: solid 2px slategray;
    box-shadow: 3px 3px 3px gray;
    width: 95%;
    background-color: var(--color-off-white);
    padding: 6px;
    margin: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    padding-left: 6px;
}

.price {
    padding-right: 10px;
}

.smallFont {
    font-size: smaller;
}

.link {
    text-decoration: none;
    color: unset;
}

.title:hover {
    background-color: var(--hover-gray);
    width: fit-content;
}