.container {
    background: var(--color-dark-blue-one);
    color: var(--color-light-one);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    box-shadow: 0px -8px 20px rgb(48, 48, 48);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle, .modalFormInput {
    flex-grow: 1;
}

.end {
    display: flex;
    gap: 1rem;
    height: 1.7rem;
}

.homepageLink {
    text-decoration: none;
}

.link {
    color: var(--color-light-one);
    text-decoration: none;
    transition: background-color .25s;
    padding: 5px 8px;
    border-radius: 30px;
}

.linkPlaceholder {
    min-width: 4rem;
}

.link:hover {
    cursor: pointer;
    background-color: rgb(116, 116, 116);
}

.link:visited {
    color: var(--color-light-one);
}

.searchBar {
    display: flex;
    gap: .5rem;
    padding: 3px 18px;
    border-radius: 30px;
    background: whitesmoke;
    transition: background-color .25s;
    align-items: center;
    cursor: pointer;
}

.searchBar:hover, .input:hover {
    background-color: var(--hover-gray);
}

.searchBarText {
    color: gray;
    font-size: .75rem;
}

.input {
    border: none;
    background-color: var(--color-light-one);
    font-size: .75rem;
}

.input:focus {
    outline: none;
}

.formButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modalContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0px;
    left: 0px;
    animation: fadein .2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.searchContainer {
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    max-height: 600px;
    border-radius: 50px;
    padding: 30px;
    color: #111111;
    background-color: var(--color-light-one);
    display: flex;
    flex-direction: column;
}

.modalFormContainer {
    display: flex;
    border-bottom: solid gray 1px;
    padding: 6px;
}

.searchLoading {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    animation: fadein 1.5s infinite alternate-reverse;
}

.searchEntry {
    text-decoration: none;
    border: 1px gray solid;
    margin: 8px;
    padding: 4px;
    font-size: smaller;
    border-radius: 5px;
    transition: background-color .15s;
}

.searchEntry:hover {
    cursor: pointer;
    background-color: lightgray;
}

.searchLink {
    text-decoration: none;
}

.searchLink:visited {
    color: unset;
}

.searchResultsContainer {
    flex-grow: 1;
    overflow-y: scroll;
}